.one-movie {
    background-color: #1d2930;
    width: 18.75em;
    margin: .6125em .6125em;
    box-shadow: 0px 0px .65em 0px #03090b;
    transition: all 0.185s linear;    
}

.one-movie:hover {
    transform: scale(1.04);
    cursor: pointer;
}

h1, h2, p {
    padding: 0.5em;
    color: #ffffff;

}

h2 {
    font-size: 1.25em;
    font-weight: 400;
}

p {
    font-size: .9em;
    font-weight: 100;    
}

img {
    width: 100%;
    max-height: 10em;
}