.delete-one {
    background-color: #FFD700;
    display: block;
    width: 100%;
    border: none;
    padding: 5px 5px;
    line-height: 0;
    cursor: pointer;
    font-size: 2em;
    color: #ffffff;
    position: relative;
}

.delete-one:hover {
    background: rgba(255, 217, 0, 0.375);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #d10000;
    transition: all .1s linear;
}